<h1>Create task</h1>
<form class="row g-3" method="post" action="./tasks/create">
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
      Description
    </label>
    <input type="text" class="form-control" id="descriptionInput" name="description"
      placeholder="Enter a new task description here" required="required" autofocus="autofocus" />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>